/* // Borders Settings Stylesheet
// ======================================== */

/* Imports */
@import url(./colors.module.css);

:root {

  /* Base */
  --unity-border-base:      1px solid var(--unity-s-gray-medium);

  /* Tabs */
  --unity-tab-border:       2px solid var(--unity-b-blue-base);

  /* Radius */
  --unity-radius-base:      2px;
}
