/* // Spacers Settings Stylesheet
// ======================================== */

:root {
  --unity-spacer-0:      0;
  --unity-spacer-4:      4px;
  --unity-spacer-8:      8px;
  --unity-spacer-16:     16px;
  --unity-spacer-24:     24px;
  --unity-spacer-32:     32px;
  --unity-spacer-64:     64px;
  --unity-spacer-128:    128px;
}
