.core {
  border: none;
  border-radius: 2px;
  color: #FFFFFF;
  font-size: 16px;
  font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
  font-weight: 700;
  padding: 16px 24px;
  text-transform: uppercase;
  transition: opacity 0.5s ease;
}

.core:hover {
  cursor: pointer;
  opacity: 0.75;
}

.primary {
  composes: core;
  background: #20CD8E;
}

.warning {
  composes: core;
  background: red;
}
