/* // Chip Component Stylesheet
// ======================================== */

/* Imports */
@import url(../settings/typography.module.css);
@import url(../settings/spacers.module.css);

/* Structure */
.chip {
  align-items: center;
  display: flex;
  overflow: hidden;
}

.chip__left,
.chip__right {
  display: inline-block;
  float: left;
}

.chip__left {
  margin-right: var(--unity-spacer-8);
}

.chip__right {
  width: 100%;
}

.chip__text {
  color: var(--unity-t-gray-dark);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}
