/* // Popout Component Stylesheet
// ======================================== */

/* TODO:
  • Refactor item interactions to be more global
  • Refactor hidden input to be more global
*/

/* Imports */
@import url(../settings/borders.module.css);
@import url(../settings/spacers.module.css);

/* Structure */
.popout {
  composes: card from "../components/card.module.css";
  margin-top: var(--unity-spacer-32);
  opacity: 0;
  position: absolute;
  right: 0;
  transition: all 0.35s ease;
  visibility: hidden;
  z-index: 99999;
}

/* Popout Active */
input[type=checkbox]:checked ~ .popout {
  margin-top: var(--unity-spacer-8);
  opacity: 1;
  visibility: visible;
}

/* Container */
.popout__container {
  position: relative;
}

/* Trigger */
.popout__trigger {
  cursor: pointer;
  display: block;
  margin-bottom: var(--unity-spacer-0);
}

/* Header */
.popout__header {
  border-bottom: var(--unity-border-base);
  padding: var(--unity-spacer-8) var(--unity-spacer-16);
}

/* Body */
.popout__body {
  padding: var(--unity-spacer-16);
}

/* Hidden Input */
.input {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

/* List & Item */
.popout__item {
  border-bottom: var(--unity-border-base);
  cursor: pointer;
  padding: var(--unity-spacer-8) var(--unity-spacer-0);
  position: relative;
  white-space: nowrap;
}

.popout__item .icon::before {
  background-color: var(--unity-b-green-base);
  border-radius: 30em;
  content: " ";
  display: inline-block;
  height: 8px;
  margin-right: var(--unity-spacer-8);
  width: 8px;
}

.popout__item:first-child {
  padding-top: var(--unity-spacer-0);
}

.popout__item:last-child {
  border-bottom: none;
  padding-bottom: var(--unity-spacer-0);
}

.popout__text {
  padding: var(--unity-spacer-4);
  display: block;
  transition: all 0.35s ease;
}

.popout__text:hover {
  background-color: var(--unity-s-blue-light);
  border-radius: 2px;
}
