/* // Messages Page Stylesheet
// ======================================== */

/* NOTE:
  • This file overrides the default styles for RBC Calendar
*/

/* Imports */
@import url(../settings/borders.module.css);
@import url(../settings/colors.module.css);
@import url(../settings/typography.module.css);
@import url(../settings/spacers.module.css);

/* Structure */
.rbc-calendar {
  background-color: var(--unity-t-white-base);
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.10);
  border-radius: var(--unity-radius-base);
}

/* Header */
.rbc-toolbar {
  background: #FAFBFC;
  border: var(--unity-border-base);
  border-top-left-radius: var(--unity-radius-base);
  border-top-right-radius: var(--unity-radius-base);
  border-bottom: none;
  margin-bottom: var(--unity-spacer-0);
  padding: var(--unity-spacer-16);
}

.rbc-btn-group button {
  background-color: transparent;
  border: var(--unity-border-base);
  border-radius: var(--unity-radius-base);
  color: var(--unity-t-gray-dark);
  cursor: pointer;
  font-size: var(--unity-font-10);
  font-weight: var(--unity-font-bold);
  text-transform: uppercase;
}

.rbc-btn-group button.rbc-active,
.rbc-btn-group button.rbc-active:hover,
.rbc-btn-group button:hover,
.rbc-btn-group button.rbc-active:focus,
.rbc-btn-group button:focus,
.rbc-btn-group button.rbc-active:active,
.rbc-btn-group button:active {
  background-color: var(--unity-t-white-base);
  border: var(--unity-border-base);
  box-shadow: none;
  color: var(--unity-b-blue-base);
  outline: none;
}

.rbc-toolbar-label {
  font-weight: var(--unity-font-bold);
}

/* Body Month */
.rbc-month-view {
  border: var(--unity-border-base);
  border-bottom-left-radius: var(--unity-radius-base);
  border-bottom-right-radius: var(--unity-radius-base);
}

.rbc-month-header,
.rbc-header {
  background-color: var(--unity-s-gray-light);
}

.rbc-header,
.rbc-agenda-view table.rbc-agenda-table thead > tr > th {
  border-bottom: var(--unity-border-base);
  padding: var(--unity-spacer-8);
}

.rbc-header span {
  color: var(--unity-t-gray-dark);
  font-size: var(--unity-font-12);
}

/* Body Week */
.rbc-label {
  color: var(--unity-t-gray-dark);
  display: inline-block;
  font-size: var(--unity-font-12);
  padding-top: var(--unity-spacer-8);
  padding-right: 20px;
}

/* Body Week Border Resets */
.rbc-time-view {
  border: var(--unity-border-base) !important;
}

.rbc-time-header.rbc-overflowing {
  border: none;
}

.rbc-time-content {
  border-top: 2px solid var(--unity-s-gray-medium);
}

.rbc-timeslot-group {
  border-bottom: var(--unity-border-base);
}

.rbc-time-header-gutter,
.rbc-time-slot {
  background-color: var(--unity-s-gray-light);
}

.rbc-day-slot .rbc-time-slot {
  border-top: var(--unity-border-base);
  opacity: 0.25;
}

.rbc-day-slot .rbc-time-slot:first-child {
  border: none;
}

.rbc-time-content > * + * > * {
  border-left: var(--unity-border-base);
}

/* Day Background */
.rbc-today {
  background-color: var(--unity-s-blue-light);
}

.rbc-off-range-bg {
  background-color: var(--unity-s-gray-alt-2);
}

.rbc-day-slot .rbc-events-container {
  width: 100%;
}

/* Day Date */
.rbc-date-cell {
  padding: var(--unity-spacer-4);
}
.rbc-date-cell a {
  font-size: var(--unity-font-12);
  margin-right: var(--unity-spacer-4);
  display: inline-block;
}

.rbc-now a {
  background-color: var(--unity-b-green-base);
  border-radius: var(--unity-radius-circle);
  color: var(--unity-t-white-base);
  padding: var(--unity-spacer-4);
}

.rbc-off-range {
  color: var(--unity-t-gray-base);
}

/* Agenda */
.rbc-agenda-view {
  border: var(--unity-border-base);
  border-bottom-left-radius: var(--unity-radius-base);
  border-bottom-right-radius: var(--unity-radius-base);
}

.rbc-agenda-table {
  border: none;
}

.rbc-agenda-view table.rbc-agenda-table {
  border: none;
  border-bottom: var(--unity-border-base);
}

.rbc-agenda-view table.rbc-agenda-table thead > tr > th {
  background-color: var(--unity-s-gray-light);
  color: var(--unity-t-gray-dark);
  font-size: var(--unity-font-12);
}

.rbc-header + .rbc-header {
  border-left: var(--unity-border-base);
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr > td {
  font-size: var(--unity-font-16);
  padding-top: var(--unity-spacer-16);
  padding-bottom: var(--unity-spacer-16);
  padding-right: 10.5px;
}

/* Event */
.rbc-event {
  background-color: var(--unity-b-blue-base);
}

.rbc-event.rbc-selected {
  background-color: var(--unity-b-blue-base);
}

.rbc-day-slot .rbc-event {
  border-color: var(--unity-b-blue-base);
}

.rbc-day-slot .rbc-event.rbc-selected {
  border-color: var(--unity-b-blue-base);
}

.rbc-event-content {
  font-size: var(--unity-font-14);
  padding: var(--unity-spacer-4);
}

/* Time Indicator */
.rbc-current-time-indicator {
  background-color: var(--unity-b-red-base);
  height: 2px;
  left: 70px !important; /* Offset time row */
  width: 100% !important;
}

/* Popout */
.calendar__popout {
  border: none;
  border-top-left-radius: var(--unity-spacer-0);
  border-top-right-radius: var(--unity-spacer-0);
  left: var(--unity-spacer-0);
  margin: var(--unity-spacer-0) auto;
  position: fixed;
  right: var(--unity-spacer-0);
  top: var(--unity-spacer-0);
  width: 400px;
}

.calendar__popout.open {
  opacity: 1;
  visibility: visible;
}

.calendar__popout .header {
  align-items: center;
  background-color: var(--unity-b-blue-base);
  display: flex;
  padding: var(--unity-spacer-16);
}

.calendar__popout .header__title {
  color: var(--unity-t-white-base);
}

.calendar__popout .header__action {
  cursor: pointer;
  line-height: 0;
  margin-left: auto;
}

.calendar__popout .body {
  padding: var(--unity-spacer-16);
}

.calendar__popout__overlay {
  background-color: var(--unity-s-blue-base);
  bottom: 0;
  left: 0;
  height: 100%;
  position: fixed;
  opacity: 0.5;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}

/* Modal */
.closed {
  display: none;
}
