/* // Dashboard Page Stylesheet
// ======================================== */

/* Imports */
@import url(../settings/borders.module.css);
@import url(../settings/colors.module.css);
@import url(../settings/typography.module.css);
@import url(../settings/spacers.module.css);

/* Structure */
.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--unity-spacer-24);
  grid-auto-flow: row dense;
}

.item {
  height: 273px; /* Default height for all items */
}

.item > div {
  height: 100%;
}

/* Item Sizes */
.item-sm {
  grid-column-end: span 1;
  grid-row-end: span 1;
}

.item-md {
  grid-column-end: span 2;
  grid-row-end: span 2;
  height: 570px;
}

.item-lg {
  grid-column-end: span 3;
  grid-row-end: span 3;
  height: 570px;
}

/* Filler Item */
.item__filler {
  composes: clickable from '../global/layout.module.css';
  background-color: var(--unity-s-gray-alt-1);
  border: 1px dashed var(--unity-s-gray-medium);
}

.filler__body {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.filler__body .title,
.filler__body .description,
.filler__body i {
  display: inline-block;
  width: 100%;
}
