/* // Messages Page Stylesheet
// ======================================== */

/* TODO:
  • Refactor Aside Item Styles to be component
  • Reafactor item interactions to be more global
  • Figure out way to make first child in header aside to consume 100% space left after buttons
*/

/* Imports */
@import url(../settings/borders.module.css);
@import url(../settings/colors.module.css);
@import url(../settings/typography.module.css);
@import url(../settings/spacers.module.css);

/* Structure */
.container {
  position: relative;
}

.time {
  color: var(--unity-t-gray-dark);
  font-size: var(--unity-font-10);
}

/* Aside */
.aside {
  border-right: var(--unity-border-base);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 284px;
}

.aside__header {
  border-bottom: var(--unity-border-base);
  padding: var(--unity-spacer-16);
}

.aside__header .action__item {
  display: inline-block;
  vertical-align: middle;
}

.aside__header .action__item:not(:last-child) {
  margin-right: var(--unity-spacer-8);
}

.aside__header .action__trigger {
  background-color: var(--unity-t-white-base);
  border: 1px solid var(--unity-b-green-base);
  border-radius: var(--unity-radius-base);
  cursor: pointer;
  display: block;
  padding: var(--unity-spacer-8);
}

.aside__header .action__item.mail__main {
  width: 60%;
}

.aside__header .action__item.broadcast__main {
  width: 80%;
}

/* TODO: remove once UI Kit added */
.aside__header .action__item .button {
  background-color: var(--unity-b-green-base);
  border: 1px solid var(--unity-b-green-base);
  border-radius: var(--unity-radius-base);
  color: var(--unity-t-white-base);
  font-family: var(--unity-font-base);
  font-size: var(--unity-font-14);
  font-weight: var(--unity-font-bold);
  padding: var(--unity-spacer-8);
  text-transform: uppercase;
  width: 100%;

  /* TODO: Don't set specific height */
  height: 42px;
}

/* TODO: remove once UI Kit added */
.aside__header input {
  border: var(--unity-border-base);
  border-radius: var(--unity-radius-base);
  font-family: var(--unity-font-base);
  font-size: var(--unity-font-14);
  padding: var(--unity-spacer-8);
  width: 100%;

  /* TODO: Don't set specific height */
  height: 42px;
}

.aside__header .header__search .closed {
  height: 0;
  overflow: hidden;
  transition: all 0.35s ease;
}

.aside__header .header__search .open {
  height: auto;
}

.aside__header .header__search input[type="search"] {
  margin-top: var(--unity-spacer-16);
}

.list {
  cursor: pointer;
  height: calc(100vh - 320px);
  overflow-x: auto;
  overflow-y: scroll;
  padding: var(--unity-spacer-16);
}

.item__container {
  border-bottom: var(--unity-border-base);
  padding: var(--unity-spacer-8) var(--unity-spacer-0);
  position: relative;
}

.item__container:first-child {
  padding-top: var(--unity-spacer-0);
}

.item__container:last-child {
  border-bottom: none;
}

.item {
  padding: var(--unity-spacer-4);
  position: relative;
  transition: all 0.35s ease;
}

.item .time {
  position: absolute;
  top: 10px;
  right: var(--unity-spacer-4);
}

.active > .item::before {
  background-color: var(--unity-b-blue-base);
  bottom: 0;
  content: " ";
  display: block;
  left: -16px;
  position: absolute;
  top: 0;
  width: 2px;
}

.item:hover {
  background-color: var(--unity-s-blue-light);
  border-radius: 2px;
}

.item__actions {
  opacity: 0;
  position: absolute;
  right: var(--unity-spacer-8);
  top: var(--unity-spacer-24);
  visibility: hidden;
  transition: all 0.35s ease;
}

.item:hover .item__actions {
  opacity: 1;
  top: var(--unity-spacer-16);
  visibility: visible;
}

.item__action {
  background-color: var(--unity-s-blue-medium);
  border-radius: 2px;
  display: inline-block;
  padding: var(--unity-spacer-4);
}

.item__action:first-child {
  margin-right: var(--unity-spacer-8);
}

.item__text h5,
.item__text p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.item__text h5 {
  width: 70%;
}

.item__text p {
  color: var(--unity-t-gray-dark);
}

/* Content */
.content {
  display: grid;
  height: 100%;
  margin-left: 284px; /* Should be size of sidebar */
  position: relative;
  overflow: hidden;
}

/* Content Header */
.content__header {
  align-items: center;
  border-bottom: var(--unity-border-base);
  display: flex;
  padding: var(--unity-spacer-16);

  /* TODO: Deteremine if this is needed */
  height: 42px;
}

.content__header .left {
  display: inline-block;
  float: left;
}

.content__header .left .badge {
  margin-right: var(--unity-spacer-8);
}

.content__header .right {
  margin-left: auto;
}

.content__header .right li {
  display: inline-block;
}

.content__header .right li:not(:last-child) {
  margin-right: var(--unity-spacer-16);
}

/* Content Body */
.content__body {
  height: calc(100% - 262px);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: var(--unity-spacer-16);
}

.content__body.no_form {
  height: calc(100% - 91px);
}

/* Message List */
.message__list {
  margin-top: auto;
}

.message__item {
  margin-bottom: var(--unity-spacer-16);
  position: relative;
}

.message__item.right{
  text-align: right;
}

.message__item .avatar {
  display: inline-flex;
  margin-right: var(--unity-spacer-8);
  vertical-align: top;
}

.message__item .text__container {
  display: inline-block;
  max-width: 65%;
}

.message__item .text {
  background-color: var(--unity-s-gray-light);
  border-radius: 2px;
  margin-bottom: var(--unity-spacer-4);
  padding: var(--unity-spacer-8);
}

/* Content Footer */
.content__footer {
  background-color: var(--unity-s-gray-alt-2);
  border-top: var(--unity-border-base);
  bottom: 0;
  left: 1px;
  padding: var(--unity-spacer-16);
  position: absolute;
  right: 0;
}

.content__footer .form {
  background-color: var(--unity-t-white-base);
  border: var(--unity-border-base);
  border-radius: 2px;
}

.content__footer .form textarea {
  border: none;
  font-family: var(--unity-font-family);
  font-size: var(--unity-font-14);
  min-height: 64px;
  margin: var(--unity-spacer-16);
  resize: none;
  width: calc(100% - 36px);
}

.content__footer .form textarea:focus {
  border: none;
  outline: none;
}

.content__footer .form .actions {
  border-top: var(--unity-border-base);
  padding: var(--unity-spacer-8);
  text-align: right;
}
