/* // Layout Global Stylesheet
// ======================================== */

/* Imports */
@import url(../settings/colors.module.css);
@import url(../settings/layout.module.css);
@import url(../settings/typography.module.css);
@import url(../settings/spacers.module.css);

/* Structure */
::-webkit-scrollbar {
  display: none;
}

html,
body {
  background-color: var(--unity-s-gray-light);
  height: 100%;
}

body {
  font-family: var(--unity-font-family);
  font-size: var(--unity-font-16);
  font-weight: var(--unity-font-regular);
  margin: var(--unity-spacer-0);
  overflow: hidden;
  padding: var(--unity-spacer-0);
}

/* Button Rest */
.clickable {
  cursor: pointer;
}

/* Clearfix */
.clearfix::after {
  content: " ";
  clear: both;
  display: table;
}

/* Page Layout */
.page__body {
  padding: var(--unity-spacer-16);
  position: relative;
  top: 73px;
}

.page__content {
  height: calc(100vh - 184px);
  padding-top: 70px;
  padding-bottom: var(--unity-spacer-24);
}

.page__content__scroll {
  overflow-x: hidden;
  overflow-y: scroll;
}

.tabs__offset {
  height: calc(100vh - 234px);
  padding-top: 120px;
}

.page__sidebar {
  left: 0;
  height: 100vh;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.page__blank {
  margin: auto;
  text-align: center;
}

.page__blank .title {
  color: var(--unity-s-gray-medium);
}

/* Sidebar Toggle State */
.page__sidebar.sidebar__open {
  width: var(--unity-sidebar-width-open);
  transition: width 0.35s ease;
}

.page__sidebar.sidebar__open ~ .page__body {
  margin-left: var(--unity-sidebar-width-open);
  width: calc(100% - (var(--unity-sidebar-width-open) + var(--unity-spacer-32)));
  transition: margin 0.35s ease, width 0.35s ease;
}

.page__sidebar.sidebar__closed {
  width: var(--unity-sidebar-width-closed);
  transition: width 0.35s ease;
}

.page__sidebar.sidebar__closed ~ .page__body {
  margin-left: var(--unity-sidebar-width-closed);
  width: calc(100% - (var(--unity-sidebar-width-closed) + var(--unity-spacer-32)));
  transition: margin 0.35s ease, width 0.35s ease;
}
