/* // Typography Global Stylesheet
// ======================================== */

/* Imports */
@import url(../settings/colors.module.css);
@import url(../settings/typography.module.css);
@import url(../settings/spacers.module.css);

/* Structure */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--unity-t-black-base);
  font-family: var(--unity-font-family);
  font-weight: var(--unity-font-bold);
  line-height: var(--unity-line-height);
}

h1 {
  font-size: var(--unity-font-32);
}

h2 {
  font-size: var(--unity-font-24);
}

h3 {
  font-size: var(--unity-font-18);
}

h4 {
  font-size: var(--unity-font-16);
}

h5 {
  font-size: var(--unity-font-14);
}

h6 {
  font-size: var(--unity-font-12);
}

p {
  color: var(--unity-t-black-base);
  font-family: var(--unity-font-family);
  font-size: var(--unity-font-base);
  font-weight: var(--unity-font-regular);
  line-height: var(--unity-line-height);
}

a {
  color: var(--unity-b-blue-base);
  font-size: inherit;
  text-decoration: none;
  transition: opacity 0.35s ease;
}

a:hover {
  opacity: 0.75;
}

label {
  color: var(--unity-t-black-base);
  font-size: var(--unity-font-12);
  font-weight: var(--unity-font-bold);
  display: inline-block;
  margin-bottom: var(--unity-spacer-4);
}

small,
.text_small {
  font-family: var(--unity-font-family);
  font-size: var(--unity-font-base);
  font-weight: var(--unity-font-regular);
  font-size: var(--unity-font-12);
}

.text_tiny {
  font-family: var(--unity-font-family);
  font-size: var(--unity-font-base);
  font-weight: var(--unity-font-regular);
  font-size: var(--unity-font-10);
}

/* Text Colors */
.text_gray {
  color: var(--unity-t-gray-dark);
}
