/* // Sidebar Navigation Module Stylesheet
// ======================================== */

/* Imports */
@import url(../settings/colors.module.css);

.sidebar {
  background-color: var(--unity-s-blue-base);
  height: 100vh;
  width: 250px;
}
