/* // Sidebar Navigation Module Stylesheet
// ======================================== */

/* Imports */
@import url(../settings/colors.module.css);
@import url(../settings/spacers.module.css);

/* Structure */
.sidebar {
  background-color: var(--unity-s-blue-base);
}

/* Header */
.sidebar__header {
  background-color: var(--unity-s-blue-dark);
  padding: var(--unity-spacer-24);
  text-align: center;

  /* Drag Window Around */
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.sidebar__header .title {
  color: var(--unity-t-white-base);
}

/* Link List */
.sidebar__list {
  height: calc(100vh - 156px);
  overflow-y: scroll;
}

.sidebar__item {
  display: block;
}

.sidebar__link {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: var(--unity-font-14);
  font-weight: var(--unity-font-bold);
  padding: var(--unity-spacer-16);
}

.sidebar__link .text,
.sidebar__link .icon i {
  color: var(--unity-t-gray-dark);
  vertical-align: middle;
}

.icon {
  margin-right: var(--unity-spacer-16);
}

/* Active State */
.sidebar__link.active {
  background-color: var(--unity-b-blue-base);
}

.sidebar__link.active .text,
.sidebar__link.active .icon i,
.sidebar__link.open .text,
.sidebar__link.open .icon i {
  color: var(--unity-t-white-base);
}

.toggle_icon {
  margin-left: auto;
  transition: transform 0.35s ease;
}

.toggle_icon.open {
  transform: rotate(-90deg);
}

/* Submenu */
.sidebar__submenu {
  background-color: var(--unity-s-blue-dark);
  overflow: hidden;
  height: 0;
}

.sidebar__submenu .link {
  color: var(--unity-t-white-base);
  display: block;
  padding: var(--unity-spacer-8) 0;
}

/* Submenu Active */
.sidebar__submenu.open {
  height: auto;
  padding: 0 var(--unity-spacer-64) var(--unity-spacer-16);
}

.sidebar__link.open {
  background-color: var(--unity-s-blue-dark);
}

/* Footer */
.sidebar__footer {
  background-color: var(--unity-s-blue-dark);
  bottom: 0;
  left: 0;
  padding: var(--unity-spacer-16);
  position: absolute;
  right: 0;
}

.sidebar__footer .trigger {
  color: var(--unity-t-white-base);
  font-weight: var(--unity-font-bold);
  cursor: pointer;
}

.sidebar__footer .trigger i {
  transform: rotate(90deg);
  vertical-align: middle;
}
