/* // Sidebar Navigation Module Stylesheet
// ======================================== */

/* Imports */
@import url(../settings/colors.module.css);
@import url(../settings/spacers.module.css);

/* Structure */
.sidebar {
  background-color: var(--unity-s-blue-base);
}

/* Header */
.header {
  background-color: var(--unity-s-blue-dark);
  padding: var(--unity-spacer-24);
  text-align: center;
}

.header .title {
  color: var(--unity-t-white-base);
}

/* Link */
li {
  display: block;
}

.link {
  align-items: center;
  display: flex;
  font-weight: var(--unity-font-bold);
  padding: var(--unity-spacer-24);
}

.link .text,
.link .icon i {
  color: var(--unity-t-gray-dark);
  vertical-align: middle;
}

.icon {
  margin-right: var(--unity-spacer-16);
}

/* Active State */
.link.active {
  background-color: var(--unity-b-blue-base);
}

.link.active .text,
.link.active .icon i {
  color: var(--unity-t-white-base);
}

/* Footer */
.footer {
  background-color: var(--unity-s-blue-dark);
  bottom: 0;
  left: 0;
  padding: var(--unity-spacer-24);
  position: absolute;
  right: 0;
}

.footer .trigger {
  color: var(--unity-t-white-base);
  font-weight: var(--unity-font-bold);
  cursor: pointer;
}

.footer .trigger i {
  margin-right: var(--unity-spacer-8);
  vertical-align: middle;
}
