/* // Topbar Module Stylesheet
// ======================================== */

/* Imports */
@import url(../settings/borders.module.css);
@import url(../settings/colors.module.css);
@import url(../settings/spacers.module.css);

/* Structure */
.topbar {
  background-color: var(--unity-s-gray-alt-1);
  border-bottom: var(--unity-border-base);
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.topbar__list.right {
  float: right;
}

.topbar__list ul {
  display: flex;
}

.topbar__list li {
  align-items: center;
  display: inline-flex;
}

.topbar__list li:not(:last-child) {
  margin-right: var(--unity-spacer-16);
}
