/* // Topbar Module Stylesheet
// ======================================== */

/* Imports */
@import url(../settings/borders.module.css);
@import url(../settings/colors.module.css);
@import url(../settings/spacers.module.css);

/* Structure */
.topbar {
  background-color: var(--unity-s-gray-alt-1);
  border-bottom: var(--unity-border-base);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  /* Drag Window Around */
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.topbar__nav.right {
  float: right;
}

.topbar__nav .topbar__list {
  display: flex;
}

.topbar__item {
  align-items: center;
  display: inline-flex;
}

.topbar__item:not(:last-child) {
  margin-right: var(--unity-spacer-16);
}

.popout {
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 300px;
}
